body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

button {
    background-color: lightblue;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#elementoCambiante {
    width: 200px;
    height: 100px;
    background-color: lightblue;
    transition: background-color 0.1s;
}

.cambioDeFondo {
    background-color: lightcoral;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #555;
}

.menu-icon {
    display: none;
    float: right;
    padding: 14px 16px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .navbar a:not(.menu-icon) {
        display: none;
    }

    .navbar.responsive a {
        display: block;
    }

    .menu-icon {
        display: block;
    }
}

.elemento {
    width: 200px;
    height: 200px;
    margin: 20px;
    text-align: center;
    line-height: 200px;
    font-size: 24px;
}

.boton-volver {
    margin-right:auto; /* Empuja el botón hacia la izquierda */
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.contenido {
    padding: 20px;
}
